#start
[Unit]
Description=Setup rockchip platform environment
#Before=gdm3.service
After=NetworkManager.service

[Service]
Type=forking
ExecStart=/etc/init.d/rkwifibt.sh

[Install]
WantedBy=multi-user.target
#end

