SUBSYSTEM=="udc",ACTION=="change",DRIVER=="configfs-gadget",RUN+="/usr/bin/usb-hotplug %E{DEVPATH}"
SUBSYSTEM=="udc",ACTION=="add",RUN+="/usr/bin/usb-hotplug %E{DEVPATH}"
