#start
[Unit]
Description=Copy kernel modules for /lib/modules
After=lighdm.service

[Service]
Type=simple
ExecStart=/etc/init.d/copy_modules.sh start

[Install]
WantedBy=multi-user.target
#end

