#start
[Unit]
Description=Setup rockchip platform environment
After=lightdm.service

[Service]
Type=simple
ExecStart=/etc/init.d/rockchip.sh

[Install]
WantedBy=multi-user.target
#end

